@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&family=Montserrat&display=swap");
h1 {
  font-family: "Josefin Sans", sans-serif;
}
ul li {
  border-radius: 25px;
}
ul li h2 {
  padding: 20px 20px 0px 20px;
  font-family: "Josefin Sans", sans-serif;
}
p {
  padding: 0px 0px 20px 20px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}
ul .hv:hover {
  background-color: rgb(13, 31, 13);
  color: #fbc80c;
  box-shadow: 0 5px 10px 5px #659b50;
}
.bg {
  background-color: #dbecd4;
}
