@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&family=Montserrat&display=swap");
.student {
  width: 50%;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 65px;
  padding: 2rem;
  margin: auto;
  width: 60%;
}

.student h2 {
  color: rgb(13, 31, 13);
  padding: 1rem 0 3rem 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
}

input {
  border: none;
  padding: 0.5rem;
  border-bottom: 2px solid rgb(13, 31, 13);
  align-items: flex-start;
  width: 60%;
  margin-left: 1rem;
}
label {
  padding: 1rem;
  align-items: flex-start;
  margin-left: 2rem;
  float: left;
  font-weight: bolder;
  font-size: 19px;
}

.button {
  background: rgb(13, 31, 13);
  border: 1px solid rgb(13, 31, 13);
  color: #fff;
  font-size: 1.25rem;
  width: 10rem;
  padding: 0.9rem;
  font-family: "Josefin Sans", sans-serif;
  margin: auto;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
}
