.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.imag_s {
  height: 420px;
  width: 100%;
}
.card {
  margin: 0 3rem 0 3rem;
  border: none;
}
h2 {
  width: 100%;
}
.para {
  text-align: justify;
  font-size: 1.9rem;
}
@media (max-width: 767px) {
  .para {
    font-size: 1.2rem;
  }
}
@media (max-width: 1080px) {
  .para {
    font-size: 1.5rem;
  }
}
@media (max-width: 375px) {
  .para {
    font-size: 0.9rem;
  }
}
